.technology-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.technology-box {
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s easin-in-out;
}

.technology-box:hover {
  background: #ffffff;
  color: #000000;
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.technology-box .technology-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}

.technology-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2;
}

.technology-info p {
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
  text-align: center;
}

.technology-info p {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.technology-icon {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.technology-icon svg {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
}

@media (max-width: 1500px) {
  .technology-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }

  .technology-icon svg {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 895px) {
  .technology-container {
    grid-template-columns: repeat(1, 1fr);
  }

}


@media (max-width: 480px) {
  .technology-icon svg {
    width: 4rem;
    height: 4rem;
  }
}
