@import '../../core/style/btn-shared.css';

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

 form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

 form .input-box input,
 form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

 form .btn {
  margin-top: 2rem;
}


@media (max-width: 991px) {
   form{
    flex-direction: column;
  }

}
