<div class="education-detail">
  <div class="header-container">
    <div class="titles">
      <h2>Internship</h2>
      <h3><span>Fullstack Developer at <a href="https://www.etnic.be/">ETNIC</a></span> Brussels (02/2024 - 05/2024)
      </h3>
    </div>
    <button type="button" class="back-button" (click)="navigateBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br><br>
  <div class="content-container">
    <div class="text-content">
      <div class="paragraph">
        During my internship at <a href="https://www.etnic.be/">ETNIC</a>'s Innovation Center (R&D department), I worked
        as a Fullstack Developer to design and develop an internal web application aimed at document management and
        interactive chatbot integration. The key feature of this application was its ability to act as a
        Retrieval-Augmented Generation (<a href="https://en.wikipedia.org/wiki/Retrieval-augmented_generation">RAG</a>)
        system, allowing users to interactively query and discuss documents stored within the platform.

        The primary goal was to streamline document-related tasks and enable intuitive access to information,
        revolutionizing how employees interacted with organizational knowledge.
      </div>
      <div class="paragraph">
        <span>Key Contributions</span>
        <br>
        Throughout this internship, I collaborated closely with a small team of developers, working from the ground up
        to build a seamless and user-friendly application. My contributions included:
        <br><br>
        <ul>
          <li>
            <b>Frontend Development</b>:
            The user interface is built using <b>Angular 17, TypeScript, Angular Material, HTML,</b> and <b>SCSS</b>,
            ensuring an intuitive and accessible user experience.
          </li>
          <li>
            <b>Backend API Implementation</b>:
            Developed the backend REST API with <b>Python</b> and <b>FastAPI</b>, ensuring robust performance and
            scalability.
          </li>
          <li>
            <b>Asynchronous Task Management</b>:
            Designed an efficient file upload system using <b>Celery</b> and Redis to handle long-running tasks
            asynchronously. This improved the system's performance and reliability.
          </li>
          <li>
            <b>Chatbot Integration</b>:
            Implemented a conversational AI chatbot using a RAG architecture powered by <b>LangChain, Mistral</b> AI for
            the generative AI, and vector search. This allowed users to receive contextualized responses based on
            document content.
          </li>
          <li>
            <b>Database Management</b>:
            Managed data storage with <b>MongoDB Atlas</b> for the main database and <b>Redis</b> for caching and task
            queuing.
          </li>
          <li>
            <b>Testing and Quality Assurance</b>:
            Wrote and executed tests using <b>Pytest</b> to ensure code reliability and maintainability.
          </li>
          <li>
            <b>Containerization and Deployment</b>:
            Utilized <b>Docker</b> for containerized development, ensuring consistent environments across local and cloud-based
            systems on <b>Azure</b>.
          </li>
        </ul>
      </div>
      <div class="paragraph">
        <span>Project Methodology</span>
        <br>
        We followed the Agile methodology, working in week sprints. The team actively used stories, sprint planning,
        and retrospectives to ensure iterative progress and clear communication. This collaborative environment helped
        me gain firsthand experience in professional software development workflows.
      </div>
      <div class="paragraph">
        <span>Takeaways and Growth</span>
        <br>
        This internship was a transformative experience that allowed me to Strengthen my skills in fullstack development
        by working on a complete project lifecycle. I also explored the integration of generative AI into real-world
        applications and Deepen my understanding of asynchronous processing and task queues for performance
        optimization. This project allow me to enhance my teamwork and project management abilities in an Agile
        environment.
        <br>
        By the end of the internship, I had gained invaluable insights into designing innovative solutions and
        integrating cutting-edge technologies into practical use cases
      </div>
    </div>
    <div class="image-content">
      <img src="assets/img/logos/ETNIC_logo.png" alt="ETNIC logo">
    </div>
  </div>
</div>
