<div class="education-detail">
  <div class="header-container">
    <div class="titles">
      <h2>University</h2>
      <h3><span>Bachelor's in Computer Science</span> Ecole Polytechnique de l'UCLouvain (2019 - 2021)</h3>
    </div>
    <button class="back-button" (click)="navigateBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br><br>
  <div class="content-container">
    <div class="text-content">
      <div class="paragraph">
        After high school, I pursued a Bachelor's in Computer Science at the École Polytechnique de Louvain in
        Louvain-la-Neuve, studying there for two years. This program created my understanding of programming,
        algorithms, and the theoretical foundations of computer science and deepened my passion for new technologies.
      </div>
      <div class="paragraph">
        <ul>
          <li>
            <b>Programming Courses</b>:
            Developed strong skills in <b>Python</b> and <b>Java</b> through courses and projects, including the creation of a web
            application using <b>Python, Flask </b> and <b> HTML</b> or <b>Java</b> application with <b>Unittest</b> and a quiz application in <b>Python</b>. In my second year, I
            independently learned <b>C</b> to complete a team project.
          </li>
          <li>
            <b>Algorithms and Paradigms</b>:
            Studied algorithm design and explored different programming paradigms, including concurrency.
          </li>
          <li>
            <b>Foundations of Computer Science</b>:
            Gained insights into computability, logic, and complexity, as well as the hardware basics of computer
            science.
          </li>
          <li>
            <b>Language</b>:
            Developed technical communication skills in English for Computer Scientists.
          </li>
        </ul>
      </div>
      <div class="paragraph">
        Although I didn’t complete the program, these courses gave me a solid technical foundation, practical
        experience, and the ability to adapt quickly to new tools and concepts.
      </div>
    </div>
    <div class="image-content">
      <img src="assets/img/logos/UCLouvain_École_polytechnique_de_Louvain.svg" alt="Ecole Polytechnique de Louvain logo">
    </div>
  </div>
</div>
