<div class="education-detail">
  <div class="header-container">
    <div class="titles">
      <h2>Training program</h2>
      <h3><span>Fast AI</span> Ateliers Créactifs (10/2024 - 11/2024)</h3></div>
    <button type="button" class="back-button" (click)="navigateBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br><br>
  <div class="content-container">
    <div class="text-content">
      <div class="paragraph">
        I participated in a training program on Artificial Intelligence organized by Ateliers Créactifs, which focused
        on building, training, and evaluating AI models. The program emphasized hands-on learning with practical
        applications, enabling me to understand and apply cutting-edge techniques in machine learning and neural
        networks.
      </div>
      <div class="paragraph">
        <span>Key Learnings</span>
        <br>
        During the training, I gained expertise in managing data pipelines, training machine learning models, and
        evaluating their performance. I worked on tasks such as preparing datasets, splitting them into training and
        validation subsets, and creating efficient workflows using DataLoaders.

        I explored the advantages of transfer learning by using the pre-trained ResNet34 model and fine-tuning it with
        application-specific data. This approach significantly enhanced the model’s accuracy compared to training a
        model from scratch. Additionally, I delved into performance evaluation, using precision as a key metric to
        measure and compare the effectiveness of pre-trained and non-pre-trained models.
      </div>
      <div class="paragraph">
        <span>Skills Acquired</span>
        <br>
        The training equipped me with valuable skills in data manipulation, transfer learning, and performance
        evaluation, as well as a solid understanding of how to apply pre-trained neural networks to real-world problems.
        These insights have broadened my expertise in machine learning and prepared me to address practical AI
        challenges with confidence.
      </div>
    </div>
    <div class="image-content">
      <img src="../../../../assets/img/logos/Atelier_creactif_logo.png" alt="Atelier Creactif logo">
    </div>
  </div>
</div>
