section {
  width: 100%;
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.first-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}


.first-paragraph-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

span {
  color: var(--main-color);
}

.first-paragraph-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.first-paragraph-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.first-paragraph-img {
  border-radius: 50%;
}

.first-paragraph-img img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.first-paragraph-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
  0 0 50px var(--main-color),
  0 0 100px var(--main-color);
}

.first-paragraph-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
  text-align: justify;
}

.second-paragraph {
  background: var(--second-bg-color);
}


@media (max-width: 895px) {
  .first-paragraph {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }

  .first-paragraph-content h3 {
    font-size: 2.6rem;
  }

  .first-paragraph-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }

  .first-paragraph-content p {
    max-width: 600px;
    margin: 0 auto;
  }

  .first-paragraph-img img {
    width: 56vw;
  }

}
