<header class="header">
    <a href="#home" class="logo" aria-label="Antoine Hauret - Home">
        Antoine
        <span>HAURET</span>
    </a>
    <button class="bx bx-menu" 
            id="menu-icon" 
            #menuIcon 
            (click)="toggleMenu()"
            (keydown)="toggleMenu($event)"
            aria-label="Toggle navigation menu" i18n-label
            [attr.aria-expanded]="isMenuOpen"></button>

    <nav class="navbar" #navbar role="navigation" aria-label="Main navigation">
        <a href="#home" class="active" #navLinks aria-current="page" i18n>Home</a>
        <a href="#experience" #navLinks i18n>Experience</a>
        <a href="#skills" #navLinks i18n>Skills</a>
        <a href="#projects" #navLinks i18n>Projects</a>
        <a href="#contact" #navLinks i18n>Contact</a>
    </nav>
</header>

<div class="content-container">
    <router-outlet class="router-outlet"></router-outlet>
</div>

<footer class="footer">
    <div class="social">
        <a href="https://www.linkedin.com/in/antoine-hauret/" 
           aria-label="Visit my LinkedIn profile"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/Antoinehrt" 
           aria-label="Visit my GitHub repositories"><i class="bx bxl-github"></i></a>
        <a href="/assets/CV/CV_Antoine_Hauret.pdf" 
           download 
           aria-label="Download my CV (PDF)"><i class="bx bx-file"></i></a>
    </div>

    <ul class="list">
        <li>
            <a href="#home" i18n>About Me</a>
        </li>
        <li>
            <a href="#experience" i18n>Experience</a>
        </li>
        <li>
            <a href="#projects" i18n>Projects</a>
        </li>
        <li>
            <a href="#skills" i18n>Skills</a>
        </li>
        <li>
            <a href="#contact" i18n>Contact</a>
        </li>
    </ul>
    <p class="copyright" i18n>
        © {{ currentYear }} Antoine HAURET | All rights reserved.
    </p>
    <div class="copyright" style="font-size: 1rem" i18n>
        Logos used in this portfolio are the property of their respective owners and are shown here for illustrative
        purposes only. No copyright infringement is intended.
    </div>
</footer>
