<div class="timeline-items">
  @for (item of experienceEntries.slice().reverse(); track item) {
    <div class="timeline-item"
      (click)="navigateToDetail(item, $event)"
      (keydown)="navigateToDetail(item, $event)"
      tabindex="0"
      role="button"
      [attr.aria-label]="'View details about ' + item.name">
      <div class="timeline-dot"></div>
      <div class="timeline-date">
        {{ item.date | yearOnly }}
      </div>
      <div class="timeline-content">
        <h3>{{ item.name }}</h3>
        <p [innerHTML]="item.description"></p>
      </div>
    </div>
  }
</div>
