<div class="education-detail">
  <div class="header-container">
    <div class="titles">
      <h2>University College</h2>
      <h3><span>Computer Science, specializing in Application Development</span> HELHa Mons (2021 - 2024)</h3>
    </div>
    <button class="back-button" (click)="navigateBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br><br>
  <div class="content-container">
    <div class="text-content">
      <div class="paragraph">
        I completed my Bachelor's degree in Computer Science, specializing in Application Development, at HELHa in Mons.
        The program trained me as a Fullstack Developer, equipping me with the ability to work on both frontend and
        backend systems. However, through my projects and practical experiences, I gained more extensive expertise in
        backend development, where I excel at designing and managing robust systems.
      </div>

      <div class="paragraph">
        <span>Notable Projects</span>
        <br>
        Throughout my studies, I participated in several impactful projects that prepared me for professional
        challenges:
        <br><br>
        <ul>
          <li>
            <b>Web Application and APIs</b>:
            I developed scalable web applications and a mobile application using modern frameworks and tools,
            integrating APIs and databases into functional, scalable systems.
            One project used <b>Angular</b> for the frontend, <b>C# (ASP.NET Core)</b> for backend APIs, and <b>SQL
            Server</b> for database management.
            The other was developed using <b>Bootstrap</b> for the frontend part and <b>Jakarta EE</b> to create the
            backend APIs, These projects involved containerization with <b>Docker</b>, ensuring smooth deployment and
            scalability.
          </li>
          <li>
            <b>Game Development</b>:
            I created video games using <b>C++</b> and <b>JavaFX</b>, exploring graphical rendering, game mechanics, and
            performance optimization. These projects helped me understand low-level programming and interactive system
            design.
          </li>
          <li>
            <b>Mobile Applications</b>:
            I built a mobile application using <b>Kotlin</b> and <b>Android Studio</b>, focusing on user experience and
            seamless integration with backend APIs.
          </li>
          <li>
            <b>Networks and Systems</b>:
            Learned technical architecture and hardware systems, along with network fundamentals.
          </li>
          <li>
            <b>Websites</b>:
            Developed web platforms with <b>PHP</b>, leveraging database systems like <b>MySQL</b> and <b>Amazon SQL</b>
            to ensure efficient data handling and secure user management.
          </li>
          <li>
            <b>Real-World Scenarios</b>:
            Every project followed a complete software development lifecycle, including requirements gathering, design
            (with UML and wireframes), coding, testing, and deployment. Additionally, I mastered Scrum and Agile
            methodologies, regularly applying them to project management, ensuring clear communication, iterative
            progress, and delivery of high-quality results. These projects often required self-learning of new tools and
            technologies to meet specific objectives.
          </li>
        </ul>
      </div>
      <div class="paragraph">
        <span>Academic Focus</span>
        <br><br>
        The program offered a mix of technical and theoretical courses that broadened my understanding of computer
        science:
        <br><br>
        <ul>
          <li>
            <b>Software Development and Design</b>:
            I explored design patterns, system architecture, and best practices for robust and maintainable software.
          </li>
          <li>
            <b>Mathematics and Machine Learning</b>:
            I gained a foundation in analytical problem-solving and data-driven systems.
          </li>
          <li>
            <b>Technical Systems and Networks</b>:
            I studied the fundamentals of networking, hardware, and operating systems, enabling me to understand how
            software interacts with underlying infrastructure.
          </li>
          <li>
            <b>Business and Communication</b>:
            Courses in microeconomics, macroeconomics, and English for Computer Scientists
            enhanced my ability to communicate and collaborate in a professional context.
          </li>
        </ul>
      </div>
      <div class="paragraph">
        <span>Final Project (TFE)</span>
        <br><br>
        My thesis, titled "Cody: A Web Application Facilitating Documentation Access Using AI", involved the creation of
        a Retrieval-Augmented Generation (RAG) system. This project was part of my internship, detailed in its
        respective section.
        IT exemplified my ability to combine theoretical knowledge with practical implementation, addressing real-world
        documentation challenges. It also solidified my skills in fullstack development and collaborative
        problem-solving.
      </div>
      <div class="paragraph">
        <span>Personal Growth</span>
        <br><br>
        This program significantly shaped my professional aspirations. I transitioned from mastering the fundamentals of
        programming to confidently tackling complex projects. Beyond technical expertise, I developed strong skills in
        project management, teamwork, and problem-solving, which continue to guide my professional journey.
      </div>
    </div>
    <div class="image-content">
      <img src="assets/img/logos/HELHa_logo.png" alt="HELHa Mons logo">
    </div>
  </div>
</div>
