<section class="home" id="home" #sections>
  <div class="home-content">
    <h1 i18n>Hi, it's <span>Antoine</span></h1>
    <h3 class="text-animation" i18n> I'm a <span class="mobile-break"></span></h3>
    <p i18n>
            A Belgian with a passion for creating programs and web applications.
            <b style="color: var(--main-color);">
                At {{ myAge }}, I am now MES Project Engineer at Technord, where I work on the deployment, integration,
                and customization of Manufacturing Execution Systems for industrial clients.
            </b>
            My role allows me to combine my background in application development with my interest in software
            engineering.
            <br> <br>
            I also have experience building fullstack applications, developing a RAG system during my internship at
            ETNIC, and working with technologies such as Docker, SQL, Git, and Agile methodologies. I’m particularly
            interested in designing reliable software solutions that address concrete technical and business challenges.
            <br>
            Feel free to explore my projects and get in touch if you'd like to collaborate!
        </p>
      <div class="social-icons">
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/antoine-hauret/"><i class="bx bxl-linkedin"></i></a>
          <span>Linkedin</span>
        </div>
        <div class="social-icon">
          <a href="https://github.com/Antoinehrt"><i class="bx bxl-github"></i></a>
          <span>Github</span>
        </div>
        <div class="social-icon">
          <a href="/assets/CV/CV_Antoine_Hauret.pdf" download><i class="bx bx-file"></i></a>
          <span>CV</span>
        </div>
      </div>

      <div class="btn-group">
        <a href="mailto:hauret.antoine@gmail.com?subject=Hiring Inquiry" class="btn" i18n>Hire</a>
        <a href="#contact" class="btn" i18n>Contact</a>
      </div>
    </div>
    <div class="home-img">
      <img src="../../../assets/img/square_profile_pic.jpg" alt="Profile picture">
    </div>
  </section>

  <section class="experience" id="experience" #sections>
    <h2 class="heading" i18n>Experience</h2>
    <div>
      @switch (currentComponent$ | async) {
        @case ('experience') {
          <app-experience></app-experience>
        }
        @case ('high-school') {
          <app-high-school></app-high-school>
        }
        @case ('university') {
          <app-university></app-university>
        }
        @case ('university-college') {
          <app-university-college></app-university-college>
        }
        @case ('internship') {
          <app-internship></app-internship>
        }
        @case ('fastai') {
          <app-fastai></app-fastai>
        }
        @case ('forem-dutch') {
          <app-forem-dutch></app-forem-dutch>
        }
        @case ('project-engineer-technord') {
          <app-project-engineer-technord></app-project-engineer-technord>
        }
      }
    </div>

  </section>

  <section class="technology" id="skills" #sections>
    <h2 class="heading" i18n>Skills</h2>
    <app-skills></app-skills>
  </section>


  <section class="projects" id="projects" #sections>
    <h2 class="heading" i18n>Projects</h2>
    <app-projects></app-projects>
  </section>

  <section class="contact" id="contact" #sections>
    <h2 class="heading" i18n>
        Contact <span>Me</span>
    </h2>
    <app-contact-me></app-contact-me>
  </section>
