
.projects {
  background: var(--second-bg-color);
}

.projects-box {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects .heading {
  margin-bottom: 5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.star {
  color: gold;
  font-size: 2rem;
}

@media (max-width: 991px) {

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

