<div class="education-detail">
  <div class="header-container">
    <div class="titles">
      <h2>Training program</h2>
      <h3><span>Dutch</span> Forem (04/2025 - 10/2025)</h3></div>
    <button type="button" class="back-button" (click)="navigateBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br><br>
  <div class="content-container">
    <div class="text-content">
      <div class="paragraph">
        I participated in a Dutch language training program at the Forem training center in Mons. I completed three
        consecutive courses, starting at level A0, without any prior knowledge of Dutch. By the end of the first course,
        I reached level A1, then progressed to level A2 after the second course, and finally achieved level B1 upon
        completing the third course. Each level was certified by the Forem through the ELAO testing system.
      </div>
      <div class="paragraph">
        <span>Key Learnings</span>
        <br>
        Throughout the program, I developed strong skills in understanding and communicating in Dutch. I learned to
        construct sentences, expand vocabulary, and improve listening, reading, writing, and speaking abilities. The
        program provided a structured and progressive approach, enabling me to gain confidence in practical, everyday
        use of the language.
      </div>
      <div class="paragraph">
        <span>Skills Acquired</span>
        <br>
        By the end of the training, I acquired certified proficiency in Dutch at level B1. I can now communicate
        effectively in a variety of professional and social situations, demonstrating a solid foundation in both written
        and spoken Dutch.
      </div>
    </div>
    <div class="image-content">
      <img src="../../../../assets/img/logos/Forem_logo.png" alt="Forem logo">
    </div>
  </div>
</div>
