.education-detail {
  height: 50vh;
  margin: 15em;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding-right: 5rem;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.back-button:hover {
  transform: scale(1.2);
}

.back-button mat-icon {
  font-size: 3rem;
  color: var(--main-color);
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  flex: 1;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.text-content p {
  line-height: 2rem;
}

.image-content {
  flex: 0 0 auto;
}

.image-content img {
  max-width: 100%;
  height: auto;
}


.header-container h2 {
  font-family: Poppins, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 800;
  text-shadow: 0 0 25px var(--main-color);
  color: var(--main-color);
}


span {
  color: var(--main-color);
}
