<div class="education-detail">
  <div class="header-container">
    <div class="titles">
      <h2>High School</h2>
      <h3><span> Saint-Stanislas</span> Mons (September 2013 - June 2019)</h3>
    </div>
    <button class="back-button" (click)="navigateBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br><br>
  <div class="content-container">
    <div class="text-content">
      <p>
        I completed six years of secondary education at Collège Saint-Stanislas in Mons, Belgium, from September 2013 to
        June 2019.
        Upon graduation, I was awarded the <b>CESS (Certificat d'Enseignement Secondaire Supérieur)</b>, the Belgian
        diploma
        for
        general secondary education.
      </p>
      <p>
        Throughout my time at Collège Saint-Stanislas, I followed a challenging academic track focused on
        <b>Advanced Sciences with English Immersion</b>. In this immersion program, all science classes were conducted
        entirely
        in English, which not only strengthened my understanding of scientific concepts but also honed my technical
        English
        skills, laying a strong foundation for my future studies in an international context.
      </p>
      <p>
        In addition to sciences, I studied <b>English</b> as a standalone subject in an immersion setting. This
        environment
        fostered my fluency and confidence in both spoken and written English as we explored literature, grammar, and
        composition entirely in English. To further develop my linguistic and analytical skills, I also selected
        <b>Latin</b>,
        which provided insights into the roots of many languages, and <b>Spanish</b>, which broadened my linguistic
        abilities
        and gave me a foundational grasp of another widely spoken language.
      </p>
      <p>
        This blend of rigorous scientific study, language immersion, and classical education equipped me with a
        versatile
        skill set.
        My high school years were foundational in shaping my problem-solving abilities, cross-cultural communication
        skills,
        and
        analytical thinking—assets that have greatly benefited my studies and career in computer science.
      </p>
    </div>
    <div class="image-content">
      <img src="assets/img/logos/Saint_Stanislas_Mons.png" alt="">
    </div>
  </div>
</div>
