<div class="education-detail">
  <div class="header-container">
    <div class="titles">
      <h2>High School</h2>
      <h3><span>Saint-Stanislas</span> Mons (September 2013 - June 2019)</h3>
    </div>
    <button class="back-button" (click)="navigateBack()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <br><br>
  <div class="content-container">
    <div class="text-content">
      <div class="paragraph">
        From 2013 to 2019, I attended Collège Saint-Stanislas in Mons, Belgium,
        where I completed a rigorous six-year secondary education program and earned my <b>CESS diploma in June 2019</b>.
      </div>
      <div class="paragraph">
        During my studies, I pursued a specialized track that emphasized both linguistic and scientific excellence:
        <br><br>
        <ul>
          <li>
            <b>English Immersion</b>:
            I followed an intensive English immersion program from my third year through to my final year
            (rhétorique).
            This included advanced English language courses entirely conducted in English, with no use of French.
            Vocabulary lists, explanations, and interactions were exclusively in English, fostering complete
            language
            immersion.
          </li>
          <li>
            <b>Advanced Sciences in English Immersion</b>:
            As part of my science track, I studied Physics, Chemistry, and Biology in advanced-level courses taught
            entirely in English. This allowed me to deepen my knowledge of scientific principles while strengthening
            my
            technical vocabulary and communication skills in English.
          </li>
          <li>
            <b>Latin</b>:
            Throughout my six years of secondary school, I studied Latin, building a strong foundation in classical
            languages and analytical thinking.
          </li>
          <li>
            <b>Spanish</b>:
            In my final two years, I added Spanish to my curriculum, attending two hours of lessons per
            week and developing conversational proficiency.
          </li>
        </ul>
      </div>

      <div class="paragraph">
        This diverse and challenging curriculum allowed me to develop strong critical thinking, problem-solving, and
        multilingual communication skills, which continue to serve me well in academic and professional contexts.
      </div>
    </div>
    <div class="image-content">
      <img src="assets/img/logos/Saint_Stanislas_Mons.png" alt="Saint Stanislas Mons logo">
    </div>
  </div>
</div>
